---
layout: home
---


{%- if site.posts.size > 0 -%}
<ul class="posts">
	{%- for post in paginator.posts -%}
	<li class="shadow">
		{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
		<div class="post-meta">
			<a class="post-link" href="{{ post.url | relative_url }}">
				<h2 class="post-title">{{ post.title | escape }}</h2>
			</a>
			<div class="post-date"><i class="icon-calendar"></i>{{ post.date | date: date_format }}</div>
		</div>
		<div class="post">
			{%- if site.show_excerpts -%}
			{{ post.excerpt }}
			{%- endif -%}
		</div>
	</li>
	{%- endfor -%}
</ul>
{%- endif -%}

{%- if site.posts.size > site.paginate -%}
<!-- 只有在大于单页数量时才出现 -->
<div style="margin-bottom: 60px;" class="pagination">

	<!-- 上一页 -->
	{% if paginator.previous_page %}
	<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" style="color: black;"
		class="pagination-newer">&laquo; Prev</a>
	{% else %}
	<a href="javascript:void(0)" style="color: gray;" class="pagination-newer">&laquo; Prev</a>
	{% endif %}
	<span class="pagination-inner">


		<!-- 页目录 -->
		{% for page in (1..paginator.total_pages) %}
		{% if page == paginator.page %}
		<a href="javascript:void(0)" class="pagination-active">{{ page }}</a>
		{% elsif page == 1 %}
		<a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}" style="color: black;">
			{{ page }}
		</a>
		{% else %}
		<a href="{{ site.baseurl | append:site.paginate_path | prepend: '/' | replace: '//', '/' | replace: ':num', page }}"
			style="color: black;">
			{{ page }}
		</a>
		{% endif %}
		{% endfor %}


	</span>

	<!-- 下一页 -->
	{% if paginator.next_page %}
	<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" style="color: black;"
		class="pagination-older">Next &raquo;</a>
	{% else %}
	<a href="javascript:void(0)" style="color: gray;" class="pagination-older">Next &raquo;</a>
	{% endif %}

</div>
{%- endif -%}

<script>
	lis = document.querySelectorAll(".posts>li")
	for (var i = 0; i < lis.length; i++) {
		lis[i].onclick = function (e) {
			this.querySelector(".post-title").click()
		}
	}

</script>