{%- if site.texture.analytics_id -%}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.texture.analytics_id }}"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', '{{ site.texture.analytics_id }}');
</script>
{%- endif -%}

{%- if site.texture.showPicker -%}
<div id="texture-picker">
	<div style="display:flex;justify-content: space-between">
		<p>Select Texture</p>
		<p><a id="hidePicker" href="#">Hide</a></p>
	</div>
	<div class="texture-colors">
		<div id="black"></div>
		<div id="blue"></div>
		<div id="red"></div>
		<div id="purple"></div>
		<div id="green"></div>
	</div>
	<p class="info">You can use the <b>showPicker</b> property in _config.yml to hide this picker permanently.</p>
	<p class="info">You can use the <b>texture</b> property in _config.yml to apply a texture permanently.</p>
</div>
<script src="{{ "/assets/js/picker.js" | relative_url }}"></script>
{%- endif -%}

{%- if site.texture.useMathJax -%}
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
	</script>
{%- endif -%}


<!-- 新增footer -->

<link rel="stylesheet" href="{{ '/assets/css/footer.css' | relative_url }}">

<!-- Site footer -->
<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<h6>About</h6>
				<p class="text-justify">A growing programmer. The development direction is big data processing, mainly
					using java and python. Both node.js and c++ are involved but there is no special in-depth study. As
					a back-end programmer, but also have a soft spot for the front end</p>
			</div>
		</div>
		<hr>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-6 col-xs-12">
				<p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
					<a href="#">whitestarrain</a>.
				</p>
			</div>
		</div>
	</div>
</footer>