@import 'ext/solarized-light';

div.highlighter-rouge {
	// width: 100vw;
	// position: relative;
	right: 150px;
	margin: 20px 0;
}

.highlight {
	background-color: #f4f4f4;
}

div.highlight {
	padding: 10px 10px 10px;
  border-radius: 6px;
}

pre.highlight, code {
	font-family: 'Consolas', Menlo, monospace;
	line-height: 1.4em;
	tab-size: 4;
	background-color: #F4F4F4;
  margin-top: 5px;
  margin-bottom: 5px;
  // padding-left:7px;
  padding-right:7px;
  border-radius: 6px;
}
.language-plaintext{
	background-color: #F3F4F4;
	border-radius: 6px;
	padding: .2em .4em;
	margin: 0;
    font-size: 85%;
}
