<!DOCTYPE html>
<html lang="en">
    <head>
        {%- include head.html -%}
    </head>

    <body>
        <header class="texture-{{ site.texture.style }}">
            <div class="container">{%- include nav.html -%}</div>
            {%- include post_header.html -%}
        </header>
        <main>
            <div class="container" id="container-of-postlayout">
                {%- unless page.closeToc -%}
                <div
                    id="table-of-contents"
                    style="
                        position: fixed;
                        right: 30px;
                        top: 50%;
                        transform: translateY(-50%);
                        visibility: hidden;
                    "
                >
                    <!-- toc生成 -->
                    {% include toc.html html=content %}
                </div>
                {%- endunless -%}
                <div class="post-container" id="markdown-content">
                    {{ content }}
                </div>

                <!-- Configure Disqus -->
                {%- if site.texture.disqus_shortname -%}
                <div id="disqus_thread" style="margin-top: 25px"></div>
                <script>
                    var disqus_config = function () {
                        this.page.url = "{{ page.url | absolute_url }}";
                        this.page.identifier = "{{ page.url | absolute_url }}";
                    };
                    (function () {
                        var d = document,
                            s = d.createElement("script");
                        s.src =
                            "https://{{ site.texture.disqus_shortname }}.disqus.com/embed.js";
                        s.setAttribute("data-timestamp", +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript
                    >Please enable JavaScript to view the
                    <a href="https://disqus.com/?ref_noscript" rel="nofollow"
                        >comments powered by Disqus.</a
                    ></noscript
                >
                {%- endif -%}
            </div>
        </main>
        {%- include footer.html -%}
    </body>
    <script
        src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"
        async
    ></script>

    <script>
        window.onload = function () {
            var toc = document.getElementById("table-of-contents");
            var content = document.getElementById("container-of-postlayout");
            if (toc == null) {
                // 如果关了toc的话，就不进行后续操作
                return;
            }
            var header = document.querySelector("header");
            var footer = document.getElementById("footer");
            var toc_ul = document.querySelector("#table-of-contents>ul");
            var min_width =
                content.offsetWidth + // content width
                toc.offsetWidth + // toc width
                150 + // left margin
                50; // grap between content and toc
            var toc_li_a = document.querySelectorAll("#table-of-contents a");
            var top_list = [];
            var a = null;
            var ao = null;
            for (var i = 0; i < toc_li_a.length; i++) {
                a = toc_li_a[i];
                ao = document.getElementById(
                    a.getAttribute("href").substring(1)
                );
                top_list.push([ao, a]);
            }

            // toc自动隐藏和弹出
            function toggleToc() {
                if (toc_ul != null) {
                    if (
                        toc.offsetTop +
                            window.scrollY -
                            toc.offsetHeight * 0.5 >
                            header.offsetHeight &&
                        toc.offsetTop +
                            window.scrollY +
                            toc.offsetHeight * 0.5 <
                            footer.offsetTop
                    ) {
                        toc.className = "fadeIn";
                    } else {
                        toc.className = "fadeOut";
                    }
                }
            }

            // 显示当前所在条目
            function tocActive() {
                for (var i = 0; i < top_list.length; i++) {
                    // 对位于屏幕中的 标题进行检测
                    if (
                        window.scrollY - 5 < top_list[i][0].offsetTop &&
                        top_list[i][0].offsetTop <
                            window.scrollY + window.innerHeight
                    ) {
                        for (var t = 0; t < top_list.length; t++) {
                            top_list[t][1].className = "";
                        }
                        top_list[i][1].className = "li-active";
                        break;
                    }
                }
            }

            if (toc_ul != null && window.innerWidth > min_width) {
                toc_ul.style["max-height"] = window.innerHeight * 0.7 + "px";
                toc.style.visibility = "visible";

                toggleToc();
                window.addEventListener("scroll", toggleToc);
                window.addEventListener("scroll", tocActive);
            } else {
                content.style.maxWidth = "100%";
            }
        };
    </script>
</html>
